@use "./scss/partials/mixins";

li {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mixins.alphabet-font(2.75rem);
  &:hover {
    cursor: pointer;
    background-color: blue;
  }
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.game {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__list-key {
    list-style: none;
  }

  &__container-keys--row {
    display: flex;
  }
  &__container--guesses {
    margin-top: 100px;
  }
  &__container--previous {
    border: 1px solid black;
  }
}

#guesses {
  @include mixins.alphabet-font(4rem);
}

#game-record {
  display: flex;
  gap: 35px;
}
