@use "./scss/partials/mixins";

li {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include mixins.alphabet-font(2.75rem);
  &:hover {
    cursor: pointer;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 20px;
}

.game {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__heading {
    margin: 5% 0;
  }
  &__alphabet {
    display: flex;
    flex-direction: column;
    margin: 0;
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  &__list-key {
    list-style: none;
    display: flex;
    flex-direction: row;
    margin: 15px;
    gap: 15px;
  }

  &__container-keys--row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  &__container--guesses {
    margin-top: 100px;
  }
  &__container--previous {
    border: 1px solid black;
  }
}

#guesses {
  @include mixins.alphabet-font(4rem);
}

#image {
  height: 250px;
  width: 250px;
}

#next-game {
  display: none;
}
